* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input {
    outline: none;
    padding: 5px;
    margin: 5px;
}

.list {
    display: flex;
    flex-direction: column;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form {
    display: flex;
    flex-direction: column;

    max-width: 300px;
    padding: 20px;
    background-color: white;
    animation: animation .5s ease-in-out;
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.low-font {
    font-size: 8px;
    line-height: 1pt;
}

.access {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 400px;

    padding: 10px;
    animation: animation2 .7s ease-in-out;
    background-color: #cea765;
}

@keyframes animation2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cookie_btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cookie_btns button {
    padding: 3px;
    border: .1pt solid black;
    background-color: #ecc88c;
    cursor: pointer;
}

.cookie_btns button:hover {
    background-color: #f8daa9;
}